@tailwind base;
@tailwind components;
@tailwind utilities;

#front-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Noto Sans KR', sans-serif;
  color: #707070;
}
